{% extends 'layout/base.html' %}
{% load static%}
{% load i18n static %}
{% load widget_tweaks %}
{% block title %}
<title>Polymath Sports :: Reset Password</title>
{% endblock %}
{% block content %}
<main class="st-wrapper">
	{% include 'partials/main_header.html'%}
		<article class="main-content">
			<section class="usermodule-sec">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="outer-wrapper">
								<div class="row">
									<div class="col-lg-8 col-md-8 col-sm-12 col-12 m-auto">
										<div class="inner-sec">
											<div class="head-sec">
												<h1>Your Password is reset</h1>
											</div>
											<div class="body-sec">
												Now Login
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section><!--/.usermodule-sec-->
		</article><!--/.article-->
	 	{% include 'partials/footer.html' %}
	</main>
{% endblock %}