
<div class="sidebar-menu">
<ul>
    <li class="active">
        <a href="">Select Your Game(s)</a>
    </li>
    <li>
        <a href="#">Target Variable</a>
    </li>
    <li>
        <a href="#">Predictor Variables</a>
    </li>
    <li>
        <a href="#">Manipulate Your Predictor Variables</a>
    </li>
    <li>
        <a href="#">Algorithm</a>
    </li>
    <li>
        <a href="#">Model Evalution Stats</a>
    </li>
    <li>
        <a href="#">Your Model's Prediction</a>
    </li>
</ul>
</div>