{% extends 'layout/base.html' %}
{% load static%}
{% block title %}
<title>Polymath Sports :: Build Your Own Model</title>
{% endblock %}
{% block content %}
<main class="st-wrapper">
	{% include 'partials/main_header.html'%}
		<article class="main-content">
			<section class="own-model-sec">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="head-sec">
								<h1>Build your own model</h1>
								{% include 'partials/messages.html' %}
							</div>
							<div class="body-sec">
								<div class="row">

									{% include 'partials/build_model_sidebar.html' with active='3' %}

									<div class="col-lg-8 col-md-8 col-sm-12 col-12">
										<div class="side-bar-body">
											<div class="inner-sec">
												<h6>Step 3</h6>
												<h6>Select Your Predictor Variable/s<sup>*</sup></h6>
												<p>These are the variables you believe should be taken into account when predicting your target variable. *Be sure to avoid selecting too many highly correlated vairables as this will make your model unstable. For example touchdowns per game and points per game</p>
												<form id="predictorVariableForm"
													class="" 
													name="predictorVariable" 
													method="POST" 
													enctype="multipart/form-data"
													data-predictorssUrl="{% url 'ajax_load_predictors' %}" 
													action=""> 
													{% csrf_token %}
												
													<!-- Category selection -->
													<div style="display: block;">
														<div class="form-group" style="width: 250px;">
															<select id="predictor_categories" name="predictor_categories" class="form-control">
																<option value="">Select the category</option>
																{% for category in selector_categories %}
																	<option value="{{ category.category_id }}" >{{ category.category__category_name }}</option>
																{% endfor %}														
															</select>
														</div>
														<div class="form-group" style="width: 250px;"> 
															<select id="predictor_sub_categories" name="predictor_sub_categories" class="form-control">
																<option value="">Select the sub-category</option>
																{% for sub_category in selector_sub_categories %}
																	<option value="{{ sub_category.sub_category_id }}" data-chained="{{sub_category.category_id }}">{{ sub_category.sub_category__sub_category_name }}</option>
																{% endfor %}
															</select>
														</div>								
														<select id="predictors" name="predictors" multiple style="display: none;">
															{% for predictor in predictors %}
																<option value="{{ predictor.pk }}" selected>{{ predictor.name }}</option>
															{% endfor %}	
														</select>
													</div>

													<div class="row">
														<div class="col-3" style="padding-bottom: 3rem;">
															<a href="javascript:history.go(-1)" class="btn btn-primary btn-st">Back</a>
														</div>
														<div class="col-3">
															<input type="submit" class="btn btn-primary btn-st" value="Next">
														</div>	
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section><!--/.own-model-sec-->
		</article><!--/.article-->
		<style>
			.tooltip-predictor:hover{
				background-color:bisque;
			}
			
			.dual-listbox .dual-listbox__available, .dual-listbox .dual-listbox__selected {
				border: 1px solid #ddd;
				height: 300px;
				overflow-y: auto;
				padding: 0;
				width: 250px;
				margin-top: 0;
				-webkit-margin-before: 0;
			}

			.dual-listbox .dual-listbox__search {
				border: 1px solid #ddd;
				padding: 10px;
				max-width: 250px;
				border-radius: 0.25rem;
			}

			.dual-listbox .dual-listbox__button {
			    color: #545454;
			}
			
		</style>
	{% include 'partials/footer.html' %}
	</main>
	
<script type="text/javascript">		
	$( document ).ready(function() {
		$('#predictor_sub_categories').chained('#predictor_categories');

		let dualListbox = new DualListbox('#predictors');
		let sportId = "{{ sport_id }}";
		let categorySelected;
		let subcategorySelected;
		/*console.log(`sportId: ${sportId}`);
		console.log(`categorySelected: ${categorySelected}`);
		console.log(`subcategorySelected: ${subcategorySelected}`);		
*/
	  	$("#predictor_categories").change(function () {
			let element = document.querySelector('#predictorVariableForm'); // Selecting the variables form
			let urlCategories = element.getAttribute('data-predictorssUrl'); // get the url of the `load_categories` view
	
			let categoryId = $(this).val();  // get the selected category ID from the HTML input
			categorySelected = categoryId;
/* 
			console.log(`categorySelected: ${categorySelected}`);
			console.log(`cat: ${categoryId}`);
			console.log(urlCategories); */

			$.ajax({
				url: urlCategories,
				data: {
					cateogry: categoryId
				},
				success: function(response) {
					//console.log(response)
					$('#predictor_variable').html(response);
					dualListbox.available = [];
					dualListbox.updateAvailableListbox();
				}
			})
		});

		$("#predictor_sub_categories").change(function () {
			//let element = document.querySelector('#predictorVariableForm'); // Selecting the variables form
			let urlCategories_sub = "{% url 'ajax_load_predictors_sub' %}"; // get the url of the `load_categories` view
	
			let sub_categoryId = $(this).val();  // get the selected category ID from the HTML input
			
			//console.log(`NEW cat: ${sub_categoryId}`);
			if (sub_categoryId == '') {
				return;
			}

			subcategorySelected = sub_categoryId;
			
			let selectedData = {
				sport: sportId,
				category: categorySelected,
				sub_category: subcategorySelected
			};

			$.ajax({
				url: urlCategories_sub,
				data: selectedData,
				success: function(response) {
					// console.log(response.payload)

					var reduced = response.payload.reduce((r, { pk, name, description }) => {
						r[pk] = {name, description};
						return r;
					}, {})

					var predictors_selector = $("#predictors");
					var predictorsSelectedIds = [];
					var predictorsSelectedOptions = predictors_selector.find('[selected]');
					$.each(predictorsSelectedOptions, function() {
						predictorsSelectedIds.push($(this).val());
					});
					//console.log(predictorsSelectedIds);
					predictors_selector.empty();
					$.each(response.payload, function(key, value) {
							var option = $("<option></option>").attr("value", value.pk).text(value.name);
							//console.log(value.pk + ' ' + $.inArray(value.pk, predictorsSelectedIds));
							if ($.inArray(value.pk, predictorsSelectedIds) == -1) {
								predictors_selector.append(option);								
							}							
						}
					);

					predictors_selector.append(predictorsSelectedOptions);

					var selectedDualListBox = $('.dual-listbox__selected').clone(); // clone selected for keeping their
					
					$('.dual-listbox').remove();
					dualListbox = new DualListbox('#predictors');

					$('.dual-listbox__available').children('.dual-listbox__item').each(function(el) {
						var id = $(this).data("id");
						$(this).attr("title", reduced[id].description);
					});

					if (selectedDualListBox[0].childElementCount > 0) {
						$('.dual-listbox__selected').replaceWith(selectedDualListBox);
					}

				}
			})
		});
	});
</script>
	
{% endblock %}
